<div class="container">
    <h3>Sign In</h3>
    <form method="post" action="">
        <div class="form-row mb-3">
            <input
                    placeholder="email"
                    type="email"
                    class="form-control" name="email" />
        </div>
        <div class="form-row mb-3">
            <input
                    placeholder="*********"
                    type="password"
                    class="form-control" name="password" />
        </div>
        <div class="d-grid gap-2 d-md-block mb-3">
            <button class="btn btn-warning">Sign In</button>
        </div>

    </form>
</div>