<div>
    <h2>Create Todo</h2>

    <form method="POST" action="/user/create">
        <div class="form-row mb-3">
            <input
                placeholder="Title of Todo"
                class="form-control" name="title"
                />
        </div>
        <div class="form-row mb-3">
            <input
                    placeholder="Todo Description"
                    class="form-control" name="description"
            />
        </div>

    </form>

    <form method="POST" action="/user/create?_method=PUT" />
    <div class="d-grid gap-2 d-md-block mb-3">
        <button class="btn btn-warning">Completed</button>
    </div>
</div>