<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<div>
    <Row>
        <h1>Todo List</h1>
        <a href="/auth/logout" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Sign Out</a>
    </Row>


    <div class="card">
        <% user.todo.forEach(user => { %>
       <div class="card-body">
           <h5 class="card-title"><%= user.title%></h5>
           <h6 class="card-subtitle"><%= user.description%></h6>
           <form method="POST" action="/user/:id?_method=PUT">
               <a href="/done"
                       onclick=""
                       class="btn btn-warning">
                   Done
               </a>
           </form>


           <%})%>
       </div>
<!--        <div class="d-grid gap-2 d-md-block mb-3">-->
<!--            <button class="btn btn-warning">Completed</button>-->
<!--        </div>-->
    </div>
</div>

<div>
    <a href="/user/<%=currentUser._id%>/create" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Add Todo</a>
</div>



<!--<form method="POST" action="/user/ user.todo._id/delete?_method=DELETE">-->
<!--    <button class="button is-danger" type="submit">DELETE</button>-->
<!--</form>-->