<div>
    <h1>Todo List</h1>
    <div class="card">
       <div class="card-body">
           <h5 class="card-title">Input for todo title</h5>
           <h6 class="card-subtitle">Input for todo items</h6>
            <button class="btn btn-warning">Button for completed</button>
       </div>
    </div>
</div>